* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    text-align: center;
    background-image: url("https://pbs.twimg.com/media/E07Yu-BXoAIFWr3?format=jpg&name=large");
    background-repeat: no-repeat;
    background-size: cover; 
}

.head {
    font-size: 40px;
    color: rgb(61, 43, 133);
    
}
p{
    color: rgb(57, 43, 178);
    font-size: 30px;
}
#winner {
    color:rgb(23, 23, 179);
    font-size: 50px;
}
.board {
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    width: 312px;
    margin: auto;
}
.box {
    background-color: rgb(110, 109, 211);
    width: 100px;
    height: 100px;
    margin: 2px;
    font-size: 60px;
    display: flex;
    justify-content: center ;
    align-items: center;

}

#restart {
    background-color: rgb(175, 127, 38);
    font-size: 20px;
    margin-top: 10px;
}
